lib/include
lib/lib
*.pdf
*.o
*.obj
toolbox/bin
docs_build/sphinx/_build
docs_build/sphinx/_doxygen
docs_build/sphinx/api-cpp
docs_build/sphinx/api-matlab
build
src/tests/.vscode
src/.vscode
NLtoolbox.mltbx
